numpy
torch
gym[atari]
gym[accept-rom-license]
pyglet # for rendering
ale-py=0.7.4 # tmp fix: until new SB3 version is released
stable_baselines3
opencv-python
sacred
matplotlib

wandb # not a fan but needed for Usman's RLHP...
scipy
nvidia-ml-py3 # really not a fan of this, what the heck does this do?
mujoco-py # just for testing RLHP